Here we have two  different dataset so first we have to append both together then we will be see next step

In [1]:
# importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix,r2_score,accuracy_score,mean_squared_error

In [2]:
train_dt = pd.read_csv(r"C:\Users\dell\Downloads\train.csv",)    ##   1st dataset

In [3]:
(train_dt.head(2))

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [4]:
print(train_dt.shape)

(1460, 81)

In [5]:
test_dt = pd.read_csv(r"C:\Users\dell\Downloads\test (1).csv")   ##  2nd dataset

In [6]:
test_dt.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal

In [7]:
test_dt.shape

(1459, 80)

In [8]:
final_dt = train_dt.append(test_dt)                        ###   Now both dataset merged together

C:\Users\dell\AppData\Local\Temp\ipykernel_15364\2992939010.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dt = train_dt.append(test_dt)                        ###   Now both dataset merged together

In [9]:
(final_dt.head())

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [10]:
print(final_dt.shape)

(2919, 81)

In [11]:
print(final_dt.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [12]:
print(final_dt.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB
None

In [13]:
print(final_dt.describe())

                Id   MSSubClass  LotFrontage        LotArea  OverallQual  \
count  2919.000000  2919.000000  2433.000000    2919.000000  2919.000000
mean   1460.000000    57.137718    69.305795   10168.114080     6.089072
std     842.787043    42.517628    23.344905    7886.996359     1.409947
min       1.000000    20.000000    21.000000    1300.000000     1.000000
25%     730.500000    20.000000    59.000000    7478.000000     5.000000
50%    1460.000000    50.000000    68.000000    9453.000000     6.000000
75%    2189.500000    70.000000    80.000000   11570.000000     7.000000
max    2919.000000   190.000000   313.000000  215245.000000    10.000000

       OverallCond    YearBuilt  YearRemodAdd   MasVnrArea   BsmtFinSF1  ...  \
count  2919.000000  2919.000000   2919.000000  2896.000000  2918.000000  ...
mean      5.564577  1971.312778   1984.264474   102.201312   441.423235  ...
std       1.113131    30.291442     20.894344   179.334253   455.610826  ...
min       1.000000  1872.000000   1950.000000     0.000000     0.000000  ...
25%       5.000000  1953.500000   1965.000000     0.000000     0.000000  ...
50%       5.000000  1973.000000   1993.000000     0.000000   368.500000  ...
75%       6.000000  2001.000000   2004.000000   164.000000   733.000000  ...
max       9.000000  2010.000000   2010.000000  1600.000000  5644.000000  ...

        WoodDeckSF  OpenPorchSF  EnclosedPorch    3SsnPorch  ScreenPorch  \
count  2919.000000  2919.000000    2919.000000  2919.000000  2919.000000
mean     93.709832    47.486811      23.098321     2.602261    16.062350
std     126.526589    67.575493      64.244246    25.188169    56.184365
min       0.000000     0.000000       0.000000     0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000     0.000000
50%       0.000000    26.000000       0.000000     0.000000     0.000000
75%     168.000000    70.000000       0.000000     0.000000     0.000000
max    1424.000000   742.000000    1012.000000   508.000000   576.000000

          PoolArea       MiscVal       MoSold       YrSold      SalePrice
count  2919.000000   2919.000000  2919.000000  2919.000000    1460.000000
mean      2.251799     50.825968     6.213087  2007.792737  180921.195890
std      35.663946    567.402211     2.714762     1.314964   79442.502883
min       0.000000      0.000000     1.000000  2006.000000   34900.000000
25%       0.000000      0.000000     4.000000  2007.000000  129975.000000
50%       0.000000      0.000000     6.000000  2008.000000  163000.000000
75%       0.000000      0.000000     8.000000  2009.000000  214000.000000
max     800.000000  17000.000000    12.000000  2010.000000  755000.000000

[8 rows x 38 columns]

In [14]:
print(final_dt.isnull().sum())   # There are many nan values in Sales data

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       486
LotArea             0
                 ...
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice        1459
Length: 81, dtype: int64

####  In our data there are so many Null values which we can't see so for that we are using another code

In [15]:
[features for  features in final_dt.columns if final_dt[features].isnull().sum()>0]

['MSZoning',
 'LotFrontage',
 'Alley',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Electrical',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SalePrice']

### Now we can see which columns have Null values

In [16]:
sample_dt=pd.read_csv(r"C:\Users\dell\Downloads\sample_submission.csv")## this is another column which we have merged with final_dt

In [17]:
final_dt = pd.merge(train_dt,sample_dt,on='SalePrice',how='left')

C:\Users\dell\AppData\Local\Temp\ipykernel_15364\1885918107.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  final_dt = pd.merge(train_dt,sample_dt,on='SalePrice',how='left')

In [18]:
final_dt[final_dt['MSZoning'].isnull()]

Empty DataFrame
Columns: [Id_x, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice, Id_y]
Index: []

[0 rows x 82 columns]

In [19]:
final_dt.isnull().sum()      ###   Now Sales column don't have any nan value

Id_x                0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
                 ...
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Id_y             1460
Length: 82, dtype: int64

In [20]:
###  In our dataset there are so many columns some column are important and some are not so we have to checked and delete those
###  unneccery columns

In [21]:
final_dt.corr()['SalePrice']>0.4 ## Here those value are true we will be considred those because those are important for our predction

C:\Users\dell\AppData\Local\Temp\ipykernel_15364\962495605.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_dt.corr()['SalePrice']>0.4 ## Here those value are true we will be considred those because those are important for our predction

Id_x             False
MSSubClass       False
LotFrontage      False
LotArea          False
OverallQual       True
OverallCond      False
YearBuilt         True
YearRemodAdd      True
MasVnrArea        True
BsmtFinSF1       False
BsmtFinSF2       False
BsmtUnfSF        False
TotalBsmtSF       True
1stFlrSF          True
2ndFlrSF         False
LowQualFinSF     False
GrLivArea         True
BsmtFullBath     False
BsmtHalfBath     False
FullBath          True
HalfBath         False
BedroomAbvGr     False
KitchenAbvGr     False
TotRmsAbvGrd      True
Fireplaces        True
GarageYrBlt       True
GarageCars        True
GarageArea        True
WoodDeckSF       False
OpenPorchSF      False
EnclosedPorch    False
3SsnPorch        False
ScreenPorch      False
PoolArea         False
MiscVal          False
MoSold           False
YrSold           False
SalePrice         True
Id_y             False
Name: SalePrice, dtype: bool

In [22]:
## now we can do two thing 
#. we can drop those columns which one are false
#2. we can create a new variable and take those which one are true

In [23]:
# We are creating a new variable and take those which one are true

In [24]:
column = final_dt[['OverallQual','YearBuilt','YearRemodAdd','MasVnrArea','TotalBsmtSF','1stFlrSF','GrLivArea','FullBath','TotRmsAbvGrd','Fireplaces','GarageYrBlt','GarageCars','GarageArea','SalePrice']]

In [25]:
column.head()

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,SalePrice
0,7,2003,2003,196.0,856,856,1710,2,8,0,2003.0,2,548,208500
1,6,1976,1976,0.0,1262,1262,1262,2,6,1,1976.0,2,460,181500
2,7,2001,2002,162.0,920,920,1786,2,6,1,2001.0,2,608,223500
3,7,1915,1970,0.0,756,961,1717,1,7,1,1998.0,3,642,140000
4,8,2000,2000,350.0,1145,1145,2198,2,9,1,2000.0,3,836,250000

In [26]:
column.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1460 non-null   int64
 1   YearBuilt     1460 non-null   int64
 2   YearRemodAdd  1460 non-null   int64
 3   MasVnrArea    1452 non-null   float64
 4   TotalBsmtSF   1460 non-null   int64
 5   1stFlrSF      1460 non-null   int64
 6   GrLivArea     1460 non-null   int64
 7   FullBath      1460 non-null   int64
 8   TotRmsAbvGrd  1460 non-null   int64
 9   Fireplaces    1460 non-null   int64
 10  GarageYrBlt   1379 non-null   float64
 11  GarageCars    1460 non-null   int64
 12  GarageArea    1460 non-null   int64
 13  SalePrice     1460 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 171.1 KB

In [27]:
column.isnull().sum()

OverallQual      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       8
TotalBsmtSF      0
1stFlrSF         0
GrLivArea        0
FullBath         0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt     81
GarageCars       0
GarageArea       0
SalePrice        0
dtype: int64

In [28]:
##  There are null value in two column so we take the mean of particular column and fill

In [29]:
column['MasVnrArea'].mean()

103.68526170798899

In [30]:
column['MasVnrArea'].fillna(103,inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_15364\1498303896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column['MasVnrArea'].fillna(103,inplace=True)

In [31]:
column['GarageYrBlt'].mean()

1978.5061638868744

In [32]:
column['GarageYrBlt'].fillna(1978,inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_15364\2125993684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column['GarageYrBlt'].fillna(1978,inplace=True)

In [33]:
column.isnull().sum()     #  Now our data is clean   so we can create model

OverallQual     0
YearBuilt       0
YearRemodAdd    0
MasVnrArea      0
TotalBsmtSF     0
1stFlrSF        0
GrLivArea       0
FullBath        0
TotRmsAbvGrd    0
Fireplaces      0
GarageYrBlt     0
GarageCars      0
GarageArea      0
SalePrice       0
dtype: int64

In [34]:
## Now we have to scale down the values because our SalePrice column is very high compare to other columns otherwise our model
##  will be not performed well.

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
scaler = StandardScaler()

In [37]:
  scaler.fit_transform(column)

array([[ 0.65147924,  1.05099379,  0.87866809, ...,  0.31172464,
         0.35100032,  0.34727322],
       [-0.07183611,  0.15673371, -0.42957697, ...,  0.31172464,
        -0.06073101,  0.00728832],
       [ 0.65147924,  0.9847523 ,  0.83021457, ...,  0.31172464,
         0.63172623,  0.53615372],
       ...,
       [ 0.65147924, -1.00249232,  1.02402865, ..., -1.02685765,
        -1.03391416,  1.07761115],
       [-0.79515147, -0.70440562,  0.53949344, ..., -1.02685765,
        -1.09005935, -0.48852299],
       [-0.79515147, -0.20759447, -0.96256569, ..., -1.02685765,
        -0.9216238 , -0.42084081]])

In [38]:
column.head(10)

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,SalePrice
0,7,2003,2003,196.0,856,856,1710,2,8,0,2003.0,2,548,208500
1,6,1976,1976,0.0,1262,1262,1262,2,6,1,1976.0,2,460,181500
2,7,2001,2002,162.0,920,920,1786,2,6,1,2001.0,2,608,223500
3,7,1915,1970,0.0,756,961,1717,1,7,1,1998.0,3,642,140000
4,8,2000,2000,350.0,1145,1145,2198,2,9,1,2000.0,3,836,250000
5,5,1993,1995,0.0,796,796,1362,1,5,0,1993.0,2,480,143000
6,8,2004,2005,186.0,1686,1694,1694,2,7,1,2004.0,2,636,307000
7,7,1973,1973,240.0,1107,1107,2090,2,7,2,1973.0,2,484,200000
8,7,1931,1950,0.0,952,1022,1774,2,8,2,1931.0,2,468,129900
9,5,1939,1950,0.0,991,1077,1077,1,5,2,1939.0,1,205,118000

In [39]:
#column.hist(bins=50,figsize=(20,10))

In [40]:
#sns.pairplot(column)

Now we are going to ctate a model

In [41]:
x = column[['OverallQual','YearBuilt','YearRemodAdd','MasVnrArea','TotalBsmtSF','1stFlrSF','GrLivArea','FullBath','TotRmsAbvGrd','Fireplaces','GarageYrBlt','GarageCars','GarageArea']]
y = column['SalePrice']

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=101)

In [43]:
model = RandomForestRegressor()

In [44]:
model = model.fit(x_train,y_train)

In [45]:
pred = model.predict(x_test)

In [46]:
print(pred)

[252517.26       132078.13       143265.         387605.42
 416720.4        115322.         142390.18       151595.75
 152347.5        145825.37       116754.         145918.5
 129472.         183171.         151777.         160371.5
 141753.51       124099.83       148069.8        259711.5
 136057.25        84363.76       192395.55       155831.03
 207283.         143656.         111179.27       166494.5
 170379.4        125110.71       199776.75       155678.
 173976.75       253526.93        66189.          97361.5
 439746.62       213153.25       106054.35        99030.5
 247445.79       182884.24       212432.1        172463.02
 148362.99       128442.84       300610.89       192347.7625
 129711.58       108679.21       148642.76       232613.8
 110592.97       162970.1        191007.         126276.85
 169924.79       236162.         176081.         251592.04
 211500.48       153473.15       110797.         105562.49
 114377.         185058.3        119341.5        202664.8
 169750.51       206477.3        170609.82       124410.
 180086.05       173865.12       107604.65       108785.24
 197691.59       303665.89       273692.37       147612.14
 359433.73       134729.         119969.46       186047.8
 169765.9        295419.58       177855.39       134209.69
 164555.92       250426.15       166353.5        172158.9
 144017.86       109109.         150861.93       186537.
 134807.5        134807.18       173738.4        208952.65
 145739.09       302463.99       126588.5        263907.86
 209857.78       196074.14       166807.         180642.5
 206918.45       150227.64       324245.95       199359.35
 230423.16       166412.5        150161.5        190360.49
 139342.         383188.2        158866.43       163559.5
 135441.33       260551.5        150439.36       217432.86
 136755.         230411.         245746.83       143184.
  93595.         148321.82       134752.         324469.47
 142244.55       198110.5        145661.18       241016.39
 101508.08       104211.         259477.93       191063.79
 140438.08       162217.4         83733.         124783.08
 162378.         124472.25       191938.89        98547.5
 147165.39       129567.28       108058.76       239248.
 187675.165      120339.74       254883.21       176524.9
 251644.9        265944.63       122842.42       168732.42
 329136.59       154041.5        135603.75       424326.5
 127941.41       351906.57       117019.82       209976.75
 192178.585       93184.16       135209.63        77352.
 128609.01       227929.58       177099.9        177323.05
 188959.05       336025.84       189611.55       234639.9125
 186137.2775      80639.         196928.5        301639.79
 187957.65       123850.75       182270.5        250553.05
 151560.37       147801.95       213859.9        323439.37
 136803.76       140165.85       251542.35       166105.9
 235117.          91571.76       457865.93       123855.84
  84523.36       165212.32       156267.         131699.
 370029.07        95295.5        195957.15       272870.23
 107797.77       100513.76       109791.         149955.
 191433.3        112317.5        180000.82       144808.
 246152.81       142390.17       163095.24       125211.7
 132019.36        93751.52       108578.21       168446.38
 114536.33       124381.37       141938.         162193.64
 170323.56       329784.28       142933.87       356712.03
 112088.9        146947.5        227704.36       119902.5
 336257.64       122419.5        154060.65       186535.92
 150372.         194311.53       132699.82        93981.
 359641.66       143501.77       186634.6525     112888.44
 161944.72       191495.74       156374.62       131033.
 266317.13       145870.5        131324.5        146719.5
 183111.56       130932.5        153701.51       329941.98
 238520.72       130329.26        96142.42       131612.11
 118630.21       124043.49       270148.75       230978.86
 168383.5        123930.         111717.82       158561.33
 291896.75       146136.71       138607.75       133944.22
 163534.         218227.86       168490.2        170949.1
 166043.7        452920.04       274611.05       143841.83
 144691.65       127630.83       131819.58       145236.61
 175717.83       317253.65       254821.46       171633.5
 222331.74       233405.37       127610.08       127844.15
 117955.68       357179.47       179285.86       154441.4
 119264.98       163616.5        186026.7825     119572.5
 117257.59       120736.87       277235.08       186004.8
 134048.55       141735.16        96279.21       133631.5
 243623.         197380.         193414.72       146917.68
  99572.38       145434.84        93032.58        84700.
 154314.41        99634.28       144060.         169837.45
 160810.         261085.11       139696.9        134673.82
 100293.83       211301.54       100996.42       385681.92
 228842.74857143 196209.8        170408.9        150370.76
 127606.84       116175.46       116865.99        90354.5
 220143.         182634.         212886.24       117658.
 115914.         145064.46       141257.11       188101.91
 119756.         283369.11       227101.73       164245.08
 152841.7        140229.         191139.6625     191338.02
 186579.9        142570.82       138319.08       140336.55
 160425.         191095.79       222901.2        135828.56
 173989.22       146008.         134156.49        76552.
  99668.52       123899.29       134976.05        87121.21
 145083.59       190659.7        182595.95       172192.7
 141940.25       121018.         199160.         159232.79
 273719.96       147796.5        121736.65        95235.65
 154441.4        345193.49       370120.35       343253.43
 233330.62       144685.74       370929.67       110629.84
 190674.         309705.64       141938.         161458.
 138724.63       211579.41       549202.02       187151.56
 186092.72        96809.98        99686.44       257279.92
 169635.         283631.59       150796.5        270819.41
 313546.65       158961.7        127199.36       196723.66
 149827.55       177231.58       165115.         164087.05
 165354.12       250149.08       161928.77       141474.
 133010.76       180658.2        157205.35       300527.77
 107505.5        251067.04        96905.         124644.08
 137131.69       149616.         176982.5        240651.55
 209929.74       213428.5        158576.35       200367.6
 121520.61       145778.33       319626.33       102281.51
 240395.45       252427.62       179736.05       259435.74
 349593.94       127517.62       169194.24       131237.
 194649.65       105278.         194848.2        126029.5
  89023.         205827.8        219071.56       143428.57
 128669.51       191709.74       168186.63       165858.74
 279070.85       142408.          81241.          92805.5
 167728.1        115120.68       264075.13       125334.1
 150032.87       191699.42       171630.68       227393.54
 161834.72       119451.49       262303.39       306561.07
 144733.5        277032.83       226112.22       154291.98
 134019.6        132917.         134212.         101662.
 234394.1        245818.22       144704.37       162342.8
 256393.82       258195.93       140034.5         97904.62
 154875.89       192872.9975     172301.         344993.03
 224054.59       236849.         228353.93       187033.66
 126604.27       170347.2        169340.12       171992.55
 137942.25       149217.5        241476.24       108793.49
 111886.3        108852.16       190033.1        153775.85
  90226.92       463920.4        105300.         142553.71
 178411.77       109241.18       149330.52       164338.92
 149564.8925     171104.19       186553.7        175755.55
 172669.05       180437.02       431112.79       131804.71
 211337.5        125830.09       197688.75       245987.72
  74802.76       151667.         202323.         149605.92
 171022.4        289466.61       129953.34       199548.07
 246498.96       120926.25       314194.63       134205.5
 124124.5        349336.39       147467.98       168732.3
 117324.5         99776.17       149713.37       209093.7
 402299.39       172194.3        169468.61       164742.65
 156374.62       205596.75       119282.         111519.8
 375314.75       188087.67       109747.52       190342.2
 314185.47       130477.5        243775.32       130384.96
 139267.         150148.         282498.07        94636.
 179469.34       134653.29       200096.15       188722.24
 166969.         198072.24       193342.665      194564.175
 217063.         203968.9        142710.37       476498.89      ]

In [47]:
print("Accuracy of the model is  - ",round(r2_score(y_test,pred)*100,2))

Accuracy of the model is  -  83.77

In [48]:
mean_squared_error(y_test,pred)

1027647705.1926503